@media all and (min-width: 480px) {
    .Login {
      padding: 10px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .Register {
        padding: 10px 0;
      }
    
      .Register form {
        margin: 0 auto;
        max-width: 320px;
      }

      .padb10{
        margin-bottom: 6px;
      }

      .inputred {
        border-radius: 10px;
      }
      
      #title{
        color:#33a24d;
      }

      .btn-primary {
          background: #33a24d;
          border: 0px;
      }
  }