@media all and (min-width: 480px) {
    .Login {
      padding: 0px 0px;
      margin-top: 5%;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .Register {
        padding: 0px 0px;
        margin-top: 5%;
      }
    
      .Register form {
        margin: 0 auto;
        max-width: 320px;
      }

      .padb10{
        margin-bottom: 6px;
      }

      .inputred {
        border-radius: 10px;
      }
      
      #title{
        color:#00b894;
      }

      .btn-primary {
          background: #00b894;
          border: 0px;
      }

      .search-icon {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 9999;
      }

      .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #00b894;
        border-radius: 2.25rem
    }

    .form-control:focus {
      color: #495057;
      background-color: #aabbcc;
      border-color: #00b894;
      outline: 0;
      box-shadow: 0 0 0 0rem;
  }

  .btn-primary {
    width: auto;
    padding: 6px 50px;
    background: #00b894;
    border: 0px;
    border-radius: 2.25rem
  }

  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #00b894;
    border: 0px;
  }

  .btn-primary:hover {
    color: #fff;
    background-color: #00b894;
    border: 0px;
  }

  a:link{
    color: #999;
    text-decoration: none;
  }
  a:link:hover{
    color: #4eb894;
    text-decoration: none;
    
  }
  .sign_up  {
    color:#999;
  }
  .sign_up:hover  {
    color: #4eb894;
    
  }
}

@media only screen and (max-width: 425px) and (min-width: 320px) {
  .Login-username-4 {width:95%!important;}
  .Login-password-5 {width:95%!important;}
}

