.text-area-container{
    width: 100%;
    position: relative;
}
.post-text-area{
    padding-left: 70px;
    width: 100%;
    min-height: 80px;
}
.person-image{
    position: absolute;
    top: 15px;
    left: 25px;
    
}
.person-image div{
    border-radius: 15px/7px !important;
}

textarea.post-text-area {
    border: none;
    box-shadow: 0px 0px 10px 0px #ccc;
    border-radius: 10px;
    resize: none;
    padding: 15px 10px 10px 75px;
}