

.owl-carousel .owl-nav button.owl-next{
    background-color: aqua;
    position: absolute;
    top: 20%;
    right: 0;
    height: 2rem;
    width: 1rem;
}

.owl-carousel .owl-nav button.owl-prev{
    background-color: aqua;
    position: absolute;
    top: 20%;
    left: 0; 
    height: 2rem;
    width: 1rem;  
}

.owl-carousel .owl-item img{
    height: 14rem;
    object-fit: 'contain';
}