@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.MuiAvatar-root.MuiAvatar-circle {
  border-radius: 15px/7px !important;
}

.post-detail .MuiDrawer-paper{
  width: 45%;
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1.MuiTypography-displayBlock{
  font-family: 'Daikon-Regular';
}

.quill{
  padding: 0rem 2rem 0rem 0.5rem;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow{
  height: 7rem;
}

